extends layout

block content
  .inner
    h2 #{__('Table: our')} #{ads.length} #{__('Ads')}
    table.table
      thead
        td #{__('name')}
        td #{__('sale')}
        td #{__('price')}
        td #{__('tags')}
        td #{__('link to picture')}
        td thumbnail
        td #{__('author')}
        td id
      each ad, i in ads
        tr
          td #{ad.name}
          td #{ad.sale}
          td #{ad.price}
          td #{ad.tags}
          td 
            a(href=`/uploads/${ad.picture}`) #{ad.picture}
              
          td #{ad.thumbnail}
          td #{ad.author}
          td #{ad._id}
          