doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Lato|Mina|Oxygen|Aldrich" rel="stylesheet")
  body
    .container
      .header
        block header
          .navSection.navSectionPages
            li.navItem
              a.navLinkLogo(href="/")
                != h.icon('logo')
            each item in h.menu
              li.navItem
                a.navLink(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'navLink--active' : ''))
                  != h.icon(item.icon)
                  span #{item.title}
          .navSection.navSectionSearch
            input.searchInput(type="text" placeholder="Monkey, TV, Potatoes..." name="search")
            .searchResults
          .navSection.navSectionUser
            if user
              li.navItem: a.navLink(href="/account", class=(currentPath.startsWith('/account') ? 'navLink--active' : ''))
                img.gravatar(src=user.gravatar + 'd=retro')
            else
              li.navItem: a.navLink(href="/register", class=(currentPath.startsWith('/register') ? 'navLink--active' : '')) Register
              li.navItem: a.navLink(href="/login", class=(currentPath.startsWith('/login') ? 'navLink--active' : '')) Log In
      .messages
        block messages
           if locals.flashes
        .inner.inner--flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
      .content
        block content
      .footer
        block footer
          div.footer-text &copy Nodepop 2018