extends layout

block content
  h2= title
  .inner
    form.form(action="/register" method="POST" class="card")
      
      label(for="name") #{__('Name')}
      input(type="text" name="name")
      label(for="email") #{__('Email')}
      input(type="email" name="email")
      label(for="password") #{__('Password')}
      input(type="password" name="password")
      label(for="password-confirm") #{__('Confirm Password')}
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Register →")
