mixin adCard(ad = {})
  .store
    .store__hero
      .store__actions
        
        if user && ad.author.equals(user._id)
          .store__action.store__action--edit
            a(href=`/ads/${ad._id}/edit`)
              != h.icon('pencil')
      

      img(src=`/uploads/${ad.picture || 'No-Image.jpg'}`)
      h2.title
        a(href=`/ad/${ad.slug}`) #{ad.name}
    .store__details
      p= ad.name
