mixin adCard(ad = {})
  .ad
    .ad__actions
      button soon
      if user && ad.author.equals(user._id)
        .ad__action.ad__action--edit 
        a(href=`/ads/${ad._id}/edit`)
        != h.icon('pencil')
    .ad__hero  
      img(src=`/uploads/${'No-Image.jpg'}`)
      h3.title
        a(href=`/ad/${ad.slug}`) #{ad.name}
    .ad__details
      p Sale: #{ad.sale}
      p Price: #{ad.price}
      p Tags: #{ad.tags}
              
            